div(ng-controller = "AlbumsCtrl")
  h3 Browse through {{ child.name }}'s albums
        
  ul.thumbnails
    li(ng-repeat = "album in albums ", ng-click = "selectAlbum($index)")
      div.thumbnail( ng-class = "{selected: isSelected($index)}")
        img(ng-src="{{ thumbnail(album) | thumbAlbumPicture  }}", alt="{{ thumbnail(album).title }}")
        h3 {{ album.title }}
    li
      button(type='button', ng-click='imcrement(page)', ng-show = "(albums.length - page*3) > 0 ", class='btn btn-primary') >
      
  ul.thumbnails.photos
    li.span4(ng-repeat = "item in album.content ")
      div.thumbnail
        div(content, item = "item")
        h6 {{ item.title }}

  

