header(ng-cloak, class="ng-cloak", ng-switch on="loggedIn")
  div(ng-switch-when="true" )
    include ../includes/menu
    
    
    //div#banner.decale
  div(ng-switch-when="false")
    div#banner
    div#tagline
      h1 The Special Network Project
      p.lead
        | Bringing parents and family of special children together.

          
  
