header(ng-cloak, class="ng-cloak")
  div(class="navbar", ng-switch on="loggedIn")
    div(class="navbar-inner", ng-switch-when="true")
      ul(class="nav")
        li      
          <a ng-href = "/home", title = "Home"><i class="icon-home icon-2x icon-border"></i></a>
        li
          <a ng-href = "/children", title="The Kids"><i class="icon-group icon-2x icon-border"></i></a>
        li
          <a ng-href = "/questions" title="Questions & Answers"><i class="icon-question-sign icon-2x icon-border"></i></a>
        li
          <a ng-href = "/find", title="find"><i class="icon-search icon-2x icon-border"></i></a>
      ul(class="nav  pull-right")
        li
          <a ng-href = "/", title = "Messages"><i class="icon-envelope icon-2x icon-border"></i></a>
        li
          <a ng-href='/user', title = 'My profile'><i class="icon-cogs icon-2x icon-border"></i></a>
        li
          a(ng-href='/logout',title = 'Sign out') <i class="icon-signout icon-2x icon-border"></i>
    div(class="navbar-inner", ng-switch-when="false") 
      ul(class="nav  pull-right")
        li
          a(ng-click='openLoginDialog()') login
          
  
