header(ng-cloak, class="ng-cloak", ng-switch on="loggedIn")
  div(ng-switch-when="true" )
    div#banner
  div(ng-switch-when="false")
    div#banner
    div#tagline
      h1 The Special Network Project
      p.lead
        | Bringing parents and family of special children together.

          
  
