ul(class="unstyled")
  li      
    <a ng-href = "/home"><i class="icon-home icon-2x icon-border"></i> <br /> Home</a>
  li
    <a ng-href = "/children"><i class="icon-picture icon-2x icon-border"></i> <br />Show your Kids!</a>
  li
    <a ng-href = "/"><i class="icon-group icon-2x icon-border"></i> <br /> Find People</a>
  li
    <a ng-href = "/"><i class="icon-globe icon-2x icon-border"></i> <br /> Local Initiatives</a>
  li
    <a ng-href = "/"><i class="icon-question-sign icon-2x icon-border"></i> <br /> Questions & Answers</a>

      
