div#menubar(ng-cloak, class="ng-cloak")
  ul
    li
      div(question-search search = 'search(term)')
    li
      a(href="/user")
        img(ng-src = "{{ currentUser | userIconPic }}") 
        | {{currentUser.name}} 
    li 
      a(href="/home")
        i.icon-home.icon
    li
      a(href="/messages")
        span(ng-show = "unreadMessageCount > 0") {{ unreadMessageCount }}
        i.icon-envelope
         
    li 
      a(href="/logout")
        i.icon-signout

      
