div(ng-controller = 'PictureCtrl')
  div.clearfix
    i.icon-camera-retro.icon-4x.icon-border.pull-left(ng-show = "inputType == 'picture'")
    h4 Post pictures
    
    include ../includes/albumChoice
  
  ul.thumbnails
    li.span2(ng-repeat = "pic in newDiscussion.pictures ")
      h5(ng-show = "$first") Pictures selected
      div.thumbnail
        button.btn.transparent(type = "button", ng-click= 'removePictureFromDiscussion($index)') &times
        img(ng-src = "{{ pic | thumbPicture}}", alt = 'picture {{ picture.file }}')
        h6 Change the picture title
        input.span(type = "text", ng-model = "pic.title", placeholder = "Tell more about this picture")

    
  div.well
    div(id = 'input-picture')
    strong
      | or drag & drop files here
  
    span.btn.btn-success.fileinput-button
      i.icon-picture.icon-white
      span 
        | Add picture(s) 
        input(type="file", uploader, opts = "pictureUploadOptions" , done='addPicture(file)', data-url="/upload", multiple)
    br
    br
    h5 Describe these pictures
    div.editable(contenteditable = 'true', ng-model = "newDiscussion.content")
    
  
