div(ng-controller = 'PictureCtrl')
  h5 Publish a picture
  button.btn(type='button', ng-click="openAlbumDialog()") Add an album
  div(ng-show = 'album')
    img(ng-show = 'albumThumbnail(album)', ng-src = "{{ albumThumbnail(album) | thumbPicture }}")
    | You have selected the following album:
    strong
      {{ album.title }}
  ul.thumbnails
    li.span2(ng-repeat = "pic in newDiscussion.pictures ")
      div.thumbnail
        img(ng-src = "{{ pic | thumbPicture}}", alt = 'picture {{ picture.file }}')
        input.span2(type = "text", ng-model = "pic.title", placeholder = "Tell more about this picture")
        button.btn(type = "button", ng-click= 'removePictureFromDiscussion($index)') &times
      
    
  div.well(id = 'input-picture')
    | Drop files here
  
  div
    span.btn.btn-success.fileinput-button
      i.icon-picture.icon-white
      span 
        | Add picture(s) 
        input(type="file", uploader, opts = "pictureUploadOptions" , done='addPicture(file)', data-url="/upload", multiple)
  br
  br
  tags(tags = 'newDiscussion.tags', url = '/api/tags')
  div.editable(contenteditable = 'true', ng-model = "newDiscussion.content")
  
