div(ng-controller = 'VideoCtrl')
  h5 Publish a video
  button.btn(type='button', ng-click="openAlbumDialog()") Add an album
  div(ng-show = 'album')
    img(ng-show = 'albumThumbnail(album)', ng-src = "{{ albumThumbnail(album) | thumbPicture }}")
    | You have selected the following album:
    strong
      {{ album.title }}
      
  div#video_upload(ng-show = "newDiscussion.video")
    div(video = "{{ newDiscussion.video.name }}") 
    input.span2(type = "text", ng-model = "newDiscussion.video.title", placeholder = "Tell more about this picture")
    button.btn(type = "button", ng-click= 'removeVideoFromDiscussion($index)') &times
       
  div#progress
    div.bar(style="width: 0%;")
      
  div.well(id = 'input-video')
    | Drop video here
  
  div
    span.btn.btn-success.fileinput-button
      i.icon-picture.icon-white
      span 
        | Add a video 
        input(type="file", uploader, opts = "videoUploadOptions" , done='addVideo(file)', data-url="/upload")
  br
  br
  div.editable(contenteditable = 'true', ng-model = "newDiscussion.content")
  
