div.row(ng-show = "!optOut")
  div(class='span9')
    div.row
      div.span9
        legend The kids page you are managing
        // Creating a new kid's page
        a(ng-click='newKid = !newKid', ng-show = "!newKid") 
          i.icon-plus.icon
          | Add a page
        div(ng-show = "newKid")
          a(ng-click='newKid = !newKid') 
            i.icon-minus.icon
            | Cancel
          div
            label Enter a name for the child
            input(type='text', placeholder='name', ng-model = "newChild.name")
            label What is your relationship to the child?
            select(placeholder='Who is he/her to you', ng-options = "r.name as r.name for r in relationships", ng-model = "newChild.creator.relationship")
            p(ng-show = '(newChild.creator.relationship != "Father" && newChild.creator.relationship != "Mother")' )
              | Have you asked their parents ? 
              br
              | Always good to check before posting personal information on the web, especially concerning a child!
            br
            div.btn-group
              button(type='button', ng-click="addChild()", class='btn btn-primary' ) Add
              button(type='button', ng-click="newKid = false", class='btn btn', title = 'All changes will be lost!') Cancel
        
        div(ng-show='children.length < 1')
          p
            | You do have created any children page, create a page using the right menu
            br
            small 
              | Alternatively, if you are only planning to follow and post on exisiting page (For example you are following a niece, a nephew or a friend's child)
              | let us know by checking the check box and we will not ask you again. 
          button(type='button', ng-click="registerOptOut()", class='btn btn-small') I want to opt out.
          br
          small You can reverse this setting on your profile page.
    
        table.table(ng-show = "children.length > 0")
          tr
            th
            th 
              | You are
            th 
              | latest update
            th
          tr(ng-repeat="child in children")
            td
              a(ng-href = "/children/{{child.pageTitle}}") {{child.name}}
              br
              img(ng-src="{{ child | userThumbPic }}")
            td
              | {{child.creator.relationship | pronomize }} 
            td
              | {{ child.lastUpdate.updatedAt | fromNow }}
            td
              button(type='button', ng-click="deleteChild($index)", class='btn' ) Remove Page
              
        

  
        
    div.row
      div.span9
        legend The kids in your familly
        p(ng-show='famillyChildren.length == 0')
          | You are not following any children in you familly yet. 
          | Go to the 
          a(href = "/find") Find
          | page to look out people and follow children
        table.table(ng-show = "famillyChildren.length > 0")
          tr
            th
            th 
              | You are
            th 
              | latest update
            th
          tr(ng-repeat="child in famillyChildren")
            td
              a(ng-href = "/children/{{child.pageTitle}}") {{child.name}}
              br
              img(ng-src="{{ child | userThumbPic }}")
            td
              | {{ getRelationship(child) }} 
            td
              | {{ child.lastUpdate.updatedAt | fromNow }}

    div.row
      div.span9
        legend The kids you are following
        p(ng-show='followedChildren.length == 0')
          | You are not following any children yet. 
          | Go to the 
          a(href = "/find") Find 
          | page to look out people and follow children
        table.table(ng-show = "followedChildren.length > 0")
          tr
            th
            th
            th 
              | latest update
            th
          tr(ng-repeat="child in followedChildren")
            th
              a(ng-href = "/children/{{child.pageTitle}}") {{child.name}}
            td 
              img(ng-src="{{ child | userIconPic }}")
            td
              | {{ child.lastUpdate.updatedAt | fromNow }}

