div.row
  div.span10
    button.btn(type = "button", ng-click = "authorize.edit = true", ng-show = "authorize.show", ng-disabled = "authorize.edit") Edit
    button.btn(type = "button", ng-click = "authorize.edit = false", ng-show = "authorize.edit") End Editing
    button.btn(type = "button", ng-click = "setOverviewType('discussions')", ng-show = "overviewType == 'albums'") Back to discussions

div.row
  div.span9
    p(ng-show = "authorize.edit")
      | You can now edit {{ child.name }}'s page. Click on "End editing" when you are done editing.
    h4(ng-show = '!authorize.edit') {{ child.name }}'s page: {{ child.pageTitle | inflector }}
    h4(ng-show = 'authorize.edit')
      | Customize the page title 
      input(type='text', ng-model = 'child.pageTitle', name='pageTitle', ng-pattern = "/^[a-zA-Z0-9_-]+$/") 
      button.btn.btn-success(type = 'text', ng-click = 'updateChild()') Ok
    span.error(ng-show="childForm.pageTitle.$error.pattern") 
      | Should contain only letters and numbers!
    legend {{child.name}}

div.row
  div.span3
    img#picture.img-rounded.well(width="150", id = "profile-picture", ng-src="{{ child | userPic }}")
    div(ng-show = 'authorize.edit' )
      small
        | <strong>Drag & Drop</strong> the file onto the existing picture or
        br
        | Use the <strong>button</strong> to change your profile picture.
      br
      span.btn.btn-success.fileinput-button
        i.icon-plus.icon-white
        span 
          | New picture
          input(type="file", uploader, opts = "childProfileUpload" , done='setProfilePicture(file)', data-url="/upload")
  
  div.span2
    h5 My Superpowers
    form(name='childForm')
    ul.unstyled
      li(ng-repeat = 'superpower in child.superpowers', ng-show = '!authorize.edit')
         | {{ superpower.name }}
         button(ng-click = 'removeSuperpower($index)', ng-show = 'authorize.edit') &times
      li(ng-show = 'authorize.edit') 
        | Search
        tags(tags = 'child.superpowers', url = '/api/tags', select = 'updateChild()')
        
        //button.btn(ng-click = 'addSuperpower()') Add
        //button.btn(ng-click = 'child.newSuperpower = ""') Cancel
      
  div.span4
    h5 Photos and Videos
    ul.thumbnails(ng-click = "overviewType = 'albums'")
      li(ng-repeat = 'album in child.albums | limitTo:9')
        a.thumbnail(href = "", ng-click = "overviewType = 'albums'")
          img(ng-src = "{{ albumThumbnail(album) | thumbPicture }}")
            

        
      //button(type='button', ng-click="updateUser()", class='btn btn-primary') Update
      //button(type='button', ng-click="cancelUpdate()", class='btn', title = 'All changes will be lost!') Cancel

  div.span9(ng-switch on = "overviewType")
    div(ng-switch-when="discussions")
      include ../includes/discussions
    div.row-fluid(ng-switch-when="albums")
      include ../includes/albums
    

