div.page
  div.row(ng-show = "!optOut")
    div(class='span9')
      div.row
        div.span11
          legend The kids page you are managing
          
          p(ng-show = "children.length == 0 && famillyChildren.length == 0 && followedChildren.length == 0")
            | Let's get started! 
            | To create a page for your kid, use the create button and follow the instruction. Upon completion you'll be brougth to his/her new 
            | page and you'll be able to start sharing right away!
            br
            | If you want to keep up with some children you know, or want to exchange with parents / adults
            | facing the same challenges, use the find function in the menu bar.
             
          
    div.span12(ng-show = "children.length > 0")
      div.tile(ng-repeat = 'child in children' )
        div
          
          h4
            button.transparent.pull-right(type='button', ng-click="deleteChild($index)", class='btn' )
              i.icon-remove-circle.icon-2x
            a(ng-href = "/children/{{ child.url}}") {{ child.name }}
            
           
          img.img-profile(ng-src="{{ child | userThumbPic }}")
          small
            | You are my 
            strong
             {{ child.creator.relationship }} 
          h6 Latest Activity
          div(ng-show = "child.lastUpdate") 
            small
              | Posted on 
              strong
                | {{ child.lastUpdate.createdAt | date:'MMMM-yyyy' }} 
              br
              | {{ child.lastUpdate.content }}
           small(ng-hide = "child.lastUpdate") 
             | No posts yet
           
        div.clearfix.separator
        zippy(title = 'My Superpowers')
          h6(ng-pluralize, count = "child.superpowers.length",  when="{'0': 'Not any superpower registered yet', '1': '1 Superpower, impressive', 'other': ' Many superpowers, a real figher!' }")
          ul.unstyled.taglist
            li(ng-repeat = "superb in child.superpowers")
              tag(tag = "superb")
                
      
      div.tile(ng-repeat = 'child in famillyChildren' )
        div
          img.img-profile(ng-src="{{ child | userThumbPic }}")
          h5 
            | {{ child.name }}
            a.pull-rightunfollow(title = "unfollow child", ng-click = "unfollow($index, familly)")
          p
            | You are my 
            strong
              | {{ getRelationship(child) }} 
          div
            h5 Last update on
              strong
                | {{ child.lastUpdate.createdAt | date:'MMM-YYYY'}}
           small
             | {{ child.lastUpdate.content }}
        div.clearfix.separator
        zippy(title = 'My Superpowers')
          h6(ng-pluralize, count = "child.superpowers.length", when="{'0': 'Not any superpower registered yet', '1': '1 Superpower, very strong', 'other': ' Many superpowers, a real figher!' }")
          ul.unstyled.taglist
            li(ng-repeat = "superb in child.superpowers")
               tag(tag = "superb")
               
      
      div.tile(ng-repeat = 'child in followedChildren' )
        table.table
          tr(ng-repeat =  'child in followedChildren'  )
            td
              kid(child = "child")
            td
              lasttUpdate: {{ child.lastUpdate.createdAt | date:'MMM-YYYY'}}
            td
              small
                |  {{ child.lastUpdate.content }}
            td
              //a.follow(title = "follow", ng-click = "follow(child)", ng-show = '!child.isFollowed')
              //    | Follow Him!
              // i.icon-exclamation-sign(title = "Send a message to {{ child.name }}'s {{ child.creator.relationship }}'")
              a.unfollow(title = "unfollow child", ng-click = "unfollow($index, friend)")
  

div.row.clearfix
  div.span9
    div(paginate, new-page-target = "followedChildren", url = "/api/children")  
  
  
