div.row
  div.span5
    form(name='childForm')
      legend {{child.name}}
      
      div.row
        div.span3
          img#picture.img-rounded.well(width="200", id = "profile-picture", ng-src="{{ child | userPic }}")
        div.span2(ng-show = 'authorize.edit' )
          small
            | <strong>Drag & Drop</strong> the file onto the existing picture or
            br
            | Use the <strong>button</strong> to change your profile picture.
          br
          span.btn.btn-success.fileinput-button
            i.icon-plus.icon-white
            span 
              | New picture
              input(type="file", uploader, opts = "childProfileUpload" , done='setProfilePicture(file)', data-url="/upload")

      
      div.form-inline(ng-show = 'authorize.edit')
        h5 Customize the page title
        input(type='text', ng-model = 'child.pageTitle', name='pageTitle', ng-pattern = "/^[a-zA-Z0-9_-]+$/") 
        button.btn.btn-success(type = 'text', ng-click = 'updateChild()') Ok
        br
        span.error(ng-show="childForm.pageTitle.$error.pattern") 
          | Should contain only letters and numbers!
        
      div
        h5 My Superpowers
        ul.unstyled
          li(ng-repeat = 'superpower in child.superpowers')
             | {{ superpower }}
             button(ng-click = 'removeSuperpower($index)', ng-show = 'authorize.edit') &times
          li(ng-show = 'authorize.edit') 
            | Search
            autocomplete(results = 'child.newSuperpower', url = '/api/discussions/search?type=tags', create = 'addSuperpower(string, newObject)')
            //button.btn(ng-click = 'addSuperpower()') Add
            //button.btn(ng-click = 'child.newSuperpower = ""') Cancel
      
      //button(type='button', ng-click="updateUser()", class='btn btn-primary') Update
      //button(type='button', ng-click="cancelUpdate()", class='btn', title = 'All changes will be lost!') Cancel

  div.span4(ng-controller = 'DiscussionCtrl')
    article#new-question(ng-show = 'authorize.post', ng-switch on = "inputType")
      div(ng-switch-when="text")
        include ../includes/textInput
      div(ng-switch-when="picture")
        include ../includes/pictureInput
      div(ng-switch-when="video")
        include ../includes/videoInput
      
    div.btn-group.fileupload-buttonbar.footer
      button.btn(type = "button", ng-click = "createDiscussion()") Post
      button.btn(type = "button", ng-click = "setInputType('text')", ng-disabled="inputType == 'text'", title = 'Publish a text update.' )
        i.icon-quote-left.icon-white
      button.btn(type = "button", ng-click = "setInputType('picture')", ng-disabled="inputType == 'picture'", title = "Publish a picture." )   
        i.icon-picture.icon-white
      button.btn(type = "button", ng-click = "setInputType('video')", ng-disabled="inputType == 'video'", title = "Publish a video."  ) 
        i.icon-film.icon-white
      
        
       
    //Existing discussions
    
    div(ng-repeat = "discussion in discussions")
      h4
        img(ng-src = '{{ discussion._creator | iconPicture }}')
        | {{discussion._creator.name}} 
        | {{ $index }}
      h5 {{discussion.type}} 
      ul
        li(ng-repeat = "child in discussion.children")
          | {{child.name}}
      div(ng-show = "discussion.tags.length > 0")
        h5 Tags
        ul.unstyled
          li(ng-repeat = "tag in discussion.tags")
            | {{ tag }}
      div(ng-show = "discussion.pictures.length > 0")
        ul.thumbnails
          li.span3(ng-repeat = "pic in discussion.pictures ")
            a(class="thumbnail")
              img(ng-src = "{{ pic | picture}}", alt = 'picture {{ picture.file }}')
            | {{ pic.title }}
      div(ng-show = "discussion.video")
        div(video = "discussion.video") 
            
      p(ng-bind-html = 'discussion.content')
        
      div.comment(ng-repeat =  'comment in discussion.comments')
        h5 {{comment._creator.name}}
        p(ng-bind-html = 'comment.content')
      
      div(ng-controller = 'newCommentCtrl')
        a(ng-show = "!reply", ng-click="reply = true") Reply
        div.footer(ng-show = "reply")
          textarea(ng-model = "newComment.content") 
          br
          button.btn.btn-primary(ng-click="createComment($index)") Post 
          button.btn(ng-click="reply = false") Cancel
          
    div(paginate, new-page-target = "discussions", url = "{{ paginationUrl }}", ng-show = "discussions.length > 9")  

