h3 Welcome {{user.name}} 

div(class= 'row')
  div(class='span10')
    legend Your kids
    div(ng-repeat="child in user.children")
      a(ng-href = "/children/{{child._id}}") {{child.firstName}}'s page
      button(type='button', ng-click="deleteChild($index)", class='btn' ) Delete
      
    input(type='text', placeholder='name', ng-model = "newChild.firstName")
    button(type='button', ng-click="addChild($index)", class='btn' ) Add
    br
    button(type='button', ng-click="updateUser()", class='btn btn-primary') Update
    button(type='button', ng-click="cancelUpdate()", class='btn btn-primary', title = 'All changes will be lost!') Cancel



