div.row
  div.span10
    button.btn(type = "button", ng-click = "authorize.edit = true", ng-show = "authorize.show", ng-disabled = "authorize.edit") Edit
    button.btn(type = "button", ng-click = "authorize.edit = false", ng-show = "authorize.edit") End Editing
    button.btn(type = "button", ng-click = "setOverviewType('discussions')", ng-show = "overviewType == 'albums'") Back to discussions

div.row(ng-show = "authorize.edit")
  div.span10
    p
      | You can now edit {{ child.name }}'s page. Click on "End editing" when you are done editing.

div.row
  div.span4
    form(name='childForm')
      legend {{child.name}}
      
      div.row
        div.span4
          img#picture.img-rounded.well(width="200", id = "profile-picture", ng-src="{{ child | userPic }}")
          div(ng-show = 'authorize.edit' )
            small
              | <strong>Drag & Drop</strong> the file onto the existing picture or
              br
              | Use the <strong>button</strong> to change your profile picture.
            br
            span.btn.btn-success.fileinput-button
              i.icon-plus.icon-white
              span 
                | New picture
                input(type="file", uploader, opts = "childProfileUpload" , done='setProfilePicture(file)', data-url="/upload")

      div.row
        div.span4.form-inline(ng-show = 'authorize.edit')
          h5 Customize the page title
          input(type='text', ng-model = 'child.pageTitle', name='pageTitle', ng-pattern = "/^[a-zA-Z0-9_-]+$/") 
          button.btn.btn-success(type = 'text', ng-click = 'updateChild()') Ok
          br
          span.error(ng-show="childForm.pageTitle.$error.pattern") 
            | Should contain only letters and numbers!
        
      div.row
        div.span4
          h5 My Superpowers
          ul.unstyled
            li(ng-repeat = 'superpower in child.superpowers')
               | {{ superpower }}
               button(ng-click = 'removeSuperpower($index)', ng-show = 'authorize.edit') &times
            li(ng-show = 'authorize.edit') 
              | Search
              autocomplete(results = 'child.newSuperpower', url = '/api/discussions/search?type=tags', create = 'addSuperpower(string, newObject)')
              //button.btn(ng-click = 'addSuperpower()') Add
              //button.btn(ng-click = 'child.newSuperpower = ""') Cancel
      
      div.row
        div.span4
          h5 Photos and Videos
          ul.thumbnails(ng-click = "overviewType = 'albums'")
            li(ng-repeat = 'album in child.albums | limitTo:9')
              a.thumbnail(href = "", ng-click = "overviewType = 'albums'")
                img(ng-src = "{{ albumThumbnail(album) | thumbPicture }}")
            

        
      //button(type='button', ng-click="updateUser()", class='btn btn-primary') Update
      //button(type='button', ng-click="cancelUpdate()", class='btn', title = 'All changes will be lost!') Cancel

  div.span5(ng-switch on = "overviewType")
    div(ng-switch-when="discussions")
      include ../includes/discussions
    div.row-fluid(ng-switch-when="albums")
      include ../includes/albums
    

