div.page#find
  div.row
    div.span4
     h3 Find People
     h5 That you know
     div.input-prepend
        span.add-on
          i.icon-search
        input(type='text', ng-change = 'getResults()', placeholder = "Look up someone by name" ,ng-model = 'search.term')
      //button(ng-click = 'getResults()') Search
      
     h5 Close by 
       span.highlight
         | {{ location.formattedAddress }} 
       | ?
       button.transparent.btn(type = "button",title = "Edit the location", ng-click = "showEdit = true", ng-hide = "showEdit")
         i.icon-edit.icon-2x
       button.transparent.btn(type = "button",title = "End Location Editing", ng-click = "showEdit = false", ng-show = "showEdit", ng-disabled = 'editInProgress')
         i.icon-ok.icon-2x
       
       div(ng-show = "showEdit", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")      
          div.input-prepend
            span.add-on
              i.icon-globe.hover-effect
            input(type='text', ng-model = "location.formattedAddress", ng-change = "getLocation()", placeholder="Your location", class = 'span3')
          
          div(ng-show = "location.formattedAddress.length > 0 && location.formattedAddress.length <= 6", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}") 
            i.icon-spinner.icon-spin.pull-left.icon-border
            | Looking up results
         
         div.well.well-transparent(ng-show='newLocation', ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}") 
           span.location
             | {{ newLocation.formattedAddress }}
           button.pull-right(ng-click="validate()", class="btn btn-success") Ok
    
     div.input-prepend
       span.add-on
         i.icon-globe
       select(ng-options = "distance.value as distance.label for distance in distances", ng-change = 'getResults()', ng-model = "search.distance")
      
     h5 Interested in specific 
       span.highlight
         | superpowers?
     ul.unstyled
       li(ng-repeat = 'tag in superpowers')
         tag(tag = 'tag', action = "true", remove = "removeSuperpower(tag)")
       tags(url = '/api/tags', add = 'addSuperpower(tag)')
      //superpowers(results = 'superpower', url = '/api/discussions/search?type=tags', create = 'add(string, newObject)')
  
    div.span6(ng-show = "!searchResults")
      p
        | No results yet.
    
    div.span7(ng-show = "searchResults.length > 0")
      div.tile(ng-repeat = 'result in searchResults' )
        div
          img.circled(ng-src="{{ result | userThumbPic }}")
        
        div.clearfix
          h5 
            | {{ result.name }}
  
          small
            ul.unstyled
              li
                | Living in: 
                strong 
                  | {{ result.location.formattedAddress }}
              li
                | Member since: 
                strong{{ result.createdAt | date:'MMMM-yyyy' }}
          contact( user = "{{ result.user._id }}")
        div.clearfix.separator
        zippy(title = 'My kids and topics')
          div
            h6 My kids
            ul.unstyled(ng-show = 'getData(result).length > 0')
              li(ng-repeat = "child in getData(result)")
                kid(child = "child")
                | - 
                a.follow(ng-click = "follow(child)", ng-show = '!child.isFollowed')
                  | Follow Him!
                i.icon-exclamation-sign(title = "Send a message to {{ child.name }}'s {{ child.creator.relationship }}'")
                a.unfollow(title = "unfollow child", ng-click = "unfollow(child)", ng-show = 'child.isFollowed') ( Unfollow )
                
            h6(ng-pluralize, count = "result.children.length", when="{'0': 'Not following any kid yet', '1': 'Following 1 kid', 'other': 'Folowing {} children' }")
            
                
          div
            h6(ng-pluralize, count = "result.tags.length", when="{'0': 'Not following any topic yet', '1': 'Following 1 topic', 'other': 'Folowing {} topics' }")
            ul.unstyled.taglist
              li(ng-repeat = "superb in result.tags")
                tag(tag = "superb")
        
    
  
