div.row
  div.span5
   h2 Find People
   div.input-prepend
      span.add-on
        i.icon-search
      input.search.span4(type='text', ng-change = 'getResults()',ng-model = 'search.term')
    //button(ng-click = 'getResults()') Search
      
      
  div.span4
    h4 Refine your search
    
    h5 How far from 
      | {{ currentUser.location.formattedAddress }}
      | ?
    div.input-prepend
      span.add-on
        i.icon-globe
      select(ng-options = "distance.value as distance.label for distance in distances", ng-change = 'getResults()', ng-model = "search.distance")
    
    h5 Related to specific superpowers?
    ul.unstyle
      li(ng-repeat = 'tag in superpowers')
        tag(tag = 'tag', action = "true", remove = "removeSuperpower(tag)")
      tags(url = '/api/tags', add = 'addSuperpower(tag)')
    //superpowers(results = 'superpower', url = '/api/discussions/search?type=tags', create = 'add(string, newObject)')

div.row(ng-show = "!searchResults")
  div.span9
    p
      | No results yet.

div.row(ng-show = "searchResults.length > 0")
  div.span9
    table.table
      tr
        th
        th Where I live
        th My Children
        th The children I am following
        th
      tr(ng-repeat = 'result in searchResults' )
        td
          h6 
            | {{ result._id.name }}
          img(ng-src="{{ result._id | userThumbPic }}")
        td
          | {{ result._id.location.formattedAddress }}
        td
          ul.unstyled(ng-show = 'myChildren(result).length > 0')
            li(ng-repeat = "child in myChildren(result)")
              kid(child = "child._id")
        td
          | I am following:
          br
          | {{ result.childrenCount }}
          | Children 
          br 
          |and following:
          ul
            li(ng-repeat = "superb in myTags")
              tag(tag = "superb")
          
        td
          | Contact me
          contact( user = "{{ result._id._id }}")
