include ../includes/findMenu

div.row
  div.span5
   h2 Find People
   div.input-prepend
      span.add-on
        i.icon-search
      input.search.span4(type='text', ng-change = 'getResults()',ng-model = 'search.term')
    //button(ng-click = 'getResults()') Search
      
      
  div.span5
    h4 Refine your search
    
    h5 How far from 
      | {{ currentUser.location.formattedAddress }}
      | ?
    div.input-prepend
      span.add-on
        i.icon-globe
      select(ng-options = "distance.value as distance.label for distance in distances", ng-change = 'getResults()', ng-model = "search.distance")
    
    h5 Related to specific superpowers?

    tags(tags = 'superpowers', url = '/api/discussions/search?type=tags', select = 'getResults()')
    //superpowers(results = 'superpower', url = '/api/discussions/search?type=tags', create = 'add(string, newObject)')

div.row(ng-show = "!searchResults")
  div.span10
    p
      | No results yet.

div.row(ng-show = "searchResults.length > 0")
  div.span10
    table.table
      tr
        th
        th Where I live
        th My Super Powers
        th People following me 
        th Latest Update
        th  Do you want to follow me?
        th
      tr(ng-repeat = 'child in searchResults' )
        td
          h6 
            a(ng-href = '/children/{{ child.pageTitle }}'){{ child.name }}
          img(ng-src="{{ child.picture | thumbPicture }}")
        td
          | {{ child.creator._user.location.formattedAddress }}
        td
          ul.unstyled(ng-show = 'child.superpowers.length > 0')
            li(ng-repeat = 'superp in child.superpowers')
              | {{ superp | inflector:humanize }}
          span(ng-show = 'child.superpowers.length == 0')
            | No superpower registered
        td
          ul.unstyled(ng-show = 'child.permissions.length > 0')
            li(ng-repeat = "adult in child.permissions")
              | {{ adult._user | userIconPic}} {{ adult._user.name }}, is my {{ adult.relationship }}
          span(ng-show = 'child.permissions.length == 0')
            | I don't have any followers yet. 
            br
            | Become the first one!
        td 
          | {{ child.lastUpdate.updatedAt | fromNow }}
        td
          | Contact my {{ child.creator.relationship }} : 
          contact( user = "child.creator", child = "{{  child._id }}")
