div.row
  div.span9
    div(ng-repeat = "child in children")
      label.checkbox
        input(type="checkbox", ng-model="child.send", ng-change = "loadTags($index)") 
        | {{child.name}}
    div(ng-show = "children.length == 0")
       p
        | You are not following any children. 
      
   include ../includes/discussions
