div.row
  div#input-bar
    div.btn-group
      button(type = 'button', class = 'btn', ng-click='toggleInput("showNewKid")', ng-disabled = 'showNewKid') 
        i.icon-pencil.icon-2x
        | Add a page
      button(type="button", class = 'btn', ng-click = 'toggleInput("showNewQuestion")', ng-disabled = 'showNewQuestion') 
        i.icon-question-sign.icon-2x
        | Add a question
      button(type="button", class = 'btn', ng-click = 'toggleInput("showNewPost")', ng-disabled = 'showNewPost', 
             ng-class = "{'rounded-right': roundedCorners }")
        i.icon-bullhorn.icon-2x
        | Post an update
      button.btn.btn-warning(type="button", ng-click = 'toggleInput()', ng-show = 'showNewKid || showNewQuestion || showNewPost')
        i.icon-undo.icon-2x
        
        
    div.input-form(ng-show = "showNewKid",  ng-animate="{show: 'show-animation-input', hide: 'hide-animation'}")
      h4 Add a page
      include ../includes/newkid
    div.input-form(ng-show = "showNewQuestion",   ng-animate="{show: 'show-animation-input', hide: 'hide-animation'}")
      h4 Ask a question
      include ../includes/newquestion
    div.input-form(ng-show = "showNewPost",  ng-animate="{show: 'show-animation-input', hide: 'hide-animation'}")
      //h4 Post an update
      include ../includes/newpost



div.row
  div.span12#home(masonry)
    div(ng-repeat = "item in results", class='update', ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
      div(class = "question", ng-class = '{question: item.title, video: item.video, pictures: item.pictures.length > 0 }')
        include ../includes/summary


div.row.clearfix
  div.span9
    
      
