div.row
  div#home(ng-repeat = "item in data.results", ng-switch on = "item.type")
    article(g-switch-when="discussion",  ng-class = 'item.type')
      include ../includes/discussion
    article(ng-switch-when="question",  ng-class = 'item.type')
      include ../includes/question
div.row
  div.span9
    div(paginate, new-page-target = "data.results", url = "{{ resultUrl }}")  
      
