h1 Welcome to Care Kids!

ul(ng-repeat="user in users")
  li 
    User name: {{user.name}} | email: {{user.email}} | password: {{user.password}}

form(action='/login', method='post')
  legend Login    
  input(type='text', placeholder='Your email', ng-model='user.email', name='email')
  br
  input(type='password', placeholder='Your password', ng-model='user.password', name='password')
  br
  //button(type='button', ng-click='login()', class='btn btn-primary') Login
  input(type='submit', value='login', class='btn btn-primary')
    
    
form(action='/api/users', method='post')
  legend Register
  input(type='text', placeholder='Enter your email', ng-model='newUser.email', name='email')
  br
  input(type='password', placeholder='Enter a password', ng-model='newUser.password', name='password')
  br
  //button(type='button', ng-click='register()', class='btn btn-primary') Register
  input(type='submit', value='Register', class='btn btn-primary')  

