


div(class='row')
  div(class='span3 offset4')
    div(ng-show = "!isNotRegistered")
      legend Login    
      input(type='text', placeholder='Your email', ng-model='user.email', name='email', class = 'span3')
      br
      input(type='password', placeholder='Your password', ng-model='user.password', name='password', class = 'span3')
      br
      button(type='button', ng-click='login()', class='btn btn-primary btn-block') Login
      a(ng-click = 'isNotRegistered = true') Not registered yet?
      
    div(ng-show = "isNotRegistered")
      legend Register
      input(type='text', placeholder='Enter your name', ng-model='newUser.name', name='name', class = 'span3' )
      br
      input(type='text', placeholder='Enter an email address', ng-model='newUser.email', name='email', class = 'span3')
      br
      input(type='password', placeholder='Enter a password', ng-model='newUser.password', name='password', class = 'span3')
      br
      button(type='button', ng-click='register()', class='btn btn-primary btn-block') Register
      a(ng-click = 'isNotRegistered = false') Already have an account?

