div.row
  div.span3
    button.btn(type='button', ng-click = 'HideCreateDialog = !HideCreateDialog', ng-show = '!HideCreateDialog') Create Message
    article(ng-show = 'HideCreateDialog')
      h5 Create a new Message
      h6 Send to:

      autocomplete(results = 'newMessage.receivers', url = '/api/users/contacts')

      div.content
        div.editable(contenteditable = 'true', ng-model = "newMessage.content")
        div.btn-group.fileupload-buttonbar.footer
          span.fileinput-button 
            button.btn(type = "button", ng-click = "createMessage()") Post
            button.btn(type = "button", ng-click = "HideCreateDialog = !HideCreateDialog") Cancel
            
    div#discussions(ng-repeat = "message in messages | orderBy:updatedAt:reverse")
      article.message(ng-click = 'setCurrentMessage(message)')
        div(ng-show = "messageStatus(message)")
          p
            | Message read!
        h4 From
        img(ng-src = '{{ message._creator | iconPicture }}')
        | {{message._creator.name}} 
        | {{ message.createdAt | fromNow }}
        //h4 To
        //ul.unstyled
        //  li(ng-repeat = "user in message.receivers")
        //    img(ng-src = '{{ user | userIconPic }}')
        //    | {{ user.name }}
        p(ng-bind-html = 'message.content')      
      
      
      
  div.span6
    article.discussion(ng-show= 'currentMessage')
       h4 
         img(ng-src = '{{ currentMessage._creator | iconPicture }}')
         | {{currentMessage._creator.name}} 
         | {{ $index }}
       h5 to: 
       ul.unstyled
         li(ng-repeat = "user in currentMessage.receivers")
           img(ng-src = '{{ user._user | userIconPic }}')
           | {{ user._user.name }}
       p
         | {{ currentMessage.createdAt | fromNow }} 
       p(ng-bind-html = 'currentMessage.content')

       div(ng-show = "showAction")
         div(ng-show = "!currentMessage.action.executed")
           //select(placeholder='Can this person post on {{ currentMessage.action.target.name }}'s profile?', ng-options = "r for r in ['Yes', 'No']", ng-model = "relationship")
           select(placeholder='Who is he/her to you', ng-options = "r.name as r.name for r in relationships", ng-model = "relationship")
           button.btn.btn-success(type = 'button', ng-click = "respondToFollowingRequest(true)") Ok
           button.btn(type = 'button', ng-click = "espondToFollowingRequest(false)") Ignore
        
         div(ng-show = "currentMessage.action.executed")
           p
             | You have already responded to the following request.
       
       div.replies(ng-repeat =  'reply in currentMessage.replies')
         h6 {{reply._creator.name}} - {{ reply.createdAt | fromNow }}
         p(ng-bind-html = 'reply.content')
          
       div(ng-controller = 'newReplyCtrl', ng-show = "!showAction")
         a(ng-show = "!reply", ng-click="reply = true") Reply
         div.footer(ng-show = "reply")
           textarea(ng-model = "newReply.content") 
           br
           button.btn.btn-primary(ng-click="createReply($index)") Post 
           button.btn(ng-click="reply = false") Cancel
