div.row
  div.span9
    //h6 Add a question
    button.btn(type="button", ng-click = "showNewQuestion = true", ng-show = "!showNewQuestion") Add a question
    div(ng-show = "showNewQuestion")
      tags(tags = 'newQuestion.tags', url = '/api/discussions/search?type=tags')
      br
      textarea(ng-model = "newQuestion.content")
      br
      div.btn-group
        button.btn.btn-primary(type="button", ng-click = "createQuestion()") Add Question
        button.btn(type="button", ng-click = "showNewQuestion = false", ng-show = "showNewQuestion") cancel
      
div.row
  div.span9
    ul.unstyled
      li(ng-repeat = "question in questions")
        img(ng-src = "{{ question._creator | userIconPic }}")
        | {{ question._creator.name }}
        | {{ question.createdAt | fromNow }}
        div
          | {{ question.content }}
        div.comment(ng-repeat =  'comment in question.comments')
          h5 {{comment._creator.name}}
          p(ng-bind-html = 'comment.content')
      
        div(ng-controller = 'newCommentCtrl')
          a(ng-show = "!reply", ng-click="reply = true") Reply
          div.footer(ng-show = "reply")
            textarea(ng-model = "newComment.content") 
            br
            button.btn.btn-primary(ng-click="createComment($index)") Post 
            button.btn(ng-click="reply = false") Cancel
          
  div(paginate, new-page-target = "questions", url = "", ng-show = "questions.length > 9")  
          
  
