div.row
  div.span3
    h4 The topics I am following
    tags(tags='myTags', url = '/api/tags', select = 'reloadQuestions()')


div.row
  div.span9
    h6 Add a question
    button.btn(type="button", ng-click = "showNewQuestion = true", ng-show = "!showNewQuestion") Add a question
    div(ng-show = "showNewQuestion")
      tags(tags = 'newQuestion.tags', url = '/api/tags'')
      br
      input(type='text', ng-model = "newQuestion.content")
      br
      textarea(ng-model = "newQuestion.details")
      br
      div.btn-group
        button.btn.btn-primary(type="button", ng-click = "createQuestion()") Add Question
        button.btn(type="button", ng-click = "showNewQuestion = false", ng-show = "showNewQuestion") cancel
      
div.row
  div.span9
    ul.unstyled
      li(ng-repeat = "question in questions")
        ul
          li(ng-repeat = "tag in question.tags")
            | {{ tag.name }}
        img(ng-src = "{{ question._creator | userIconPic }}")
        | {{ question._creator.name }}
        | {{ question.createdAt | fromNow }}
        div
          a(ng-href="/questions/{{ question.title }}")
            | {{ question.content }}
        div
          | {{ question.details }}
          
  div(paginate, new-page-target = "questions", url = "", ng-show = "questions.length > 9")  
          
  
