div.page
  div.row
    div.span2
      i.icon-question-sign.icon-4x
      div
        h5 Posted by
          user(data-user = "question._creator")
        h5 When
        p
          | {{ question.createdAt | fromNow }}
        h5 Topics
          ul.clearfix.separator.unstyled.taglist
            li(ng-repeat = "tag in question.tags")
              tag(tag = "tag")
    div.span9
      
      h3 Question:
        | {{ question.content }}
  
      h5(style = "cursor: pointer;", ng-click = "showDetails = !showDetails") 
        | Details
        i.icon-caret-down(ng-show = "!showDetails")
        i.icon-caret-up(ng-show = "showDetails")
      
      div(ng-show = "showDetails", style = "display: none; ", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
        p(ng-show = "question.details")
          {{ question.details }}
  
        small(ng-hide = "question.details")
          | No further details provided. Post a comment if you need more information in order to write an answer.
        
  
      div.separator
      
      div(ng-controller = 'newQuestionCommentCtrl')
        h5(style = "cursor: pointer;", ng-click = "showComments = !showComments") 
          | Comments
          i.icon-caret-down(ng-show = "!showComments")
          i.icon-caret-up(ng-show = "showComments")
        div(ng-show = "showComments", style = "display: none; ", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
          a(ng-show = "!reply", ng-click="reply = true") Add Comments
          a(ng-show = "reply", ng-click="reply = false") Cancel
          div(ng-show = "reply", style = "display: none; ", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
            textarea(ng-model = "newComment.content") 
            br
            button.btn.btn-primary(ng-click="createComment()") Post 
            button.btn(ng-click="reply = false") Cancel
          
          div.comment(ng-repeat =  'comment in question.comments')
            h5 
              user(data-user = "comment._creator")
              | {{ comment.createdAt | fromNow }}
            p(ng-bind-html = 'comment.content')
      
          p
            small(ng-hide = "question.comments")
              | No comment yet, be the first one!
      
      div.separator

      div.clearfix
        h4(ng-pluralize, count = "question.answers.length", when = "{'0': 'No answer yet, be the first!', '1': '1 Answer so far, do you have some insights you would like to share?', 'other': '{} Anwsers !!' }")
      
        button.btn(type="button", ng-click = "showNewAnswer = true", ng-show = "!showNewAnswer") Add an answer
        div(ng-show = "showNewAnswer", style = "{ display : none; }", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
          h6 Add an answer
          textarea.span5(ng-model = "newAnswer.content", rows = "3")
          br
          div.btn-group
            button.btn.btn-primary(type="button", ng-click = "createAnswer()") Add Answer
            button.btn(type="button", ng-click = "showNewAnswer = false", ng-show = "showNewAnswer") cancel
    
  
      
      div(ng-repeat = 'answer in question.answers', ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")
        
        div.row
          div.span2
            div.voting
              a(ng-disabled = "alreadyVoted(answer)", ng-click = "up(answer)")
                i.icon-sort-up.icon-4x
              a(ng-disabled = "alreadyVoted(answer)", ng-click = "down(answer)")
                i.icon-sort-down.icon-4x
              | Votes {{ answer.totalVotes }}
              br
              strong Posted by
              user(data-user = "answer._creator")
              strong when:
              |{{ question.createdAt | fromNow }}
       
          div.span7
            p
              | {{ answer.content }}
            // comments for the main question 
          
            div.comment(ng-repeat =  'comment in answer.comments')
              h5 
                | {{comment._creator.name}}
                | {{ comment.createdAt | fromNow }}
              p(ng-bind-html = 'comment.content')
            
            div(ng-controller = 'newQuestionCommentCtrl')
              a(ng-show = "!reply", ng-click="reply = true") Comment
              div.footer(ng-show = "reply")
                textarea(ng-model = "newComment.content") 
                br
                button.btn.btn-primary(ng-click="createCommentToAnswer(answer)") Post 
                button.btn(ng-click="reply = false") Cancel
          
        
          
div(paginate, new-page-target = "questions", url = "", ng-show = "questions.length > 9")  
          
  
