

div(ng-controller = 'DiscussionCtrl')
  div.row
    div.span10
      article#new-question
        h5 Ask a new question
        
        div.content
          div.editable(contenteditable = 'true', ng-model = "newDiscussion.content")
          div.btn-group.fileupload-buttonbar.footer
            span.fileinput-button 
              button.btn(type = "button", ng-click = "createDiscussion()") Post
            span.btn.fileinput-button 
              i.icon-picture.icon-white
                input(type = "file", uploader, done = "", data-url="/upload", name="file")
            span.btn.fileinput-button 
              i.icon-film.icon-white
                input(type = "file", uploader, done = "", data-url="/upload", name="file")
     
  //Existing discussions
  div.row
    div.span10
      div(ng-repeat = "discussion in discussions")
        article.discussion
          h5 {{discussion._creator.name}}
          p(ng-bind-html = 'discussion.content')
          
          div.comment(ng-repeat =  'comment in discussion.comments | orderBy:"createdAt":false')
            h5 {{comment._creator.name}}
            p(ng-bind-html = 'comment.content')
         
        div(ng-controller = 'newCommentCtrl')
          a(ng-show = "!reply", ng-click="reply = true") Reply
          div.footer(ng-show = "reply")
            textarea(ng-model = "newComment.content") 
            br
            button.btn.btn-primary(ng-click="createComment($index)") Post 
            button.btn(ng-click="reply = false") Cancel
  
