div.row.page
  div.span9
    h3 Search Results for 
      strong 
       | {{ term }}

    ul.unstyled/searchresults
      li(ng-repeat = "item in results")
        div
        i.icon-4x.icon-border.pull-left(ng-class = "{ 'icon-camera-retro': 'item.pictures.length > 0', 'icon-quote-left': ' !item.video && item.pictures.length == 0 && !item.title', 'icon-film': 'item.video', 'icon-question-sign': 'item.title'}")

        
        div(ng-hide = "item.title")
          h4
            a(ng-href = "item.url") {{ item.content }}
          h5 About
            ul.kidslist
              li(ng-repeat = "child in item.children")
                kid(child = 'child')
        
        div(ng-show = "item.title")
          a(ng-href = "/questions/{{item.url}}", ng-show = "item.title")  {{ item.title | inflector }}
        
        ul.taglist
          li(ng-repeat = "tag in item.tags")
            tag(tag = "tag")
            
        div.clearfix.footer
          | Posted by: 
          user(data-user = "item._creator")
          small
            | Last updated on
            strong
              | {{ item.createdAt | date:'MMM-yyyy' }}
          
  div(paginate, new-page-target = "results", url = "{{ resultUrl }}")  
