
h3 Welcome {{user.name}} 

div(class= 'row')
  
  div(class='span6')
    label
      | Your Name
    input(type='text', ng-model = "user.name", class = 'span4' )
    br
    label
      | Your email
    input(type='text', ng-model = "user.email", class = 'span4')
    br
    
  div(uploader, id="fileupload", name="file", data-url="/upload", class='span4')
    img(id="picture", width="100", ng-src="uploads/{{user._id }}/{{user.picture || 'user-default.png'}}")
    p
      | {{user.picture}}
    
    
div(class= 'row')
  div(class='span7')
    button(type='button', ng-click="updateUser()", class='btn btn-primary') Update
    button(type='button', ng-click="cancelUpdate()", class='btn', title = 'All changes will be lost!') Cancel
    
    
div(class= 'row')
  div(class='span12')
    legend Where are you?
    input(type='text', ng-model = "location.formattedAdress", ng-change = "getLocation()", placeholder="Your location", class = 'span4')
    button(ng-click="undoLocation()", ng-show = "undoLocUpdate", class="btn btn-error") undo
    div(ng-show='locations')
      ul(ng-repeat='loc in locations', class="unstyled")
        li
          button(ng-click="validateAdress($index)", class="btn btn-success") Ok
          {{ loc.formatted_address }}

      







p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}
