// for kids
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin-ext);

$green: #569162;
$yellow: #D9AE30;
$mainColor:  #D9CBA0;
$ligthGreen: #ACAA40;
$red: #D92929;

$separator: #eeeeee;

@mixin rounded-sides($horz, $radius: 6px ) {
    border-bottom-#{$horz}-radius: $radius;
    border-top-#{$horz}-radius: $radius;
    -moz-border-radius-top#{$horz}: $radius;
    -moz-border-radius-bottom#{$horz}: $radius;
    -webkit-border-top-#{$horz}-radius: $radius;
    -webkit-border-bottom-#{$horz}-radius: $radius;
}

@mixin box-shadow($left, $top, $blur, $spread, $color, $inset:"" ) {
    -webkit-box-shadow:#{$inset} $left $top $blur $spread $color;
    -moz-box-shadow: #{$inset} $left $top  $blur $spread $color;
    box-shadow: #{$inset} $left $top  $blur $spread $color;
  
}

@mixin white-box-shadow {
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,.40);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,.40);
    box-shadow: 2px 0px 3px rgba(0,0,0,.40);
  
}

@mixin gradient($start, $middle, $end) {
  background-image: linear-gradient(bottom, $start 47%, $middle 74%, $end 84%);
  background-image: -o-linear-gradient(bottom, $start 47%, $middle 74%, $end 84%);
  background-image: -moz-linear-gradient(bottom, $start 47%, $middle 74%, $end 84%);
  background-image: -webkit-linear-gradient(bottom, $start 47%, $middle 74%, $end 84%);
  background-image: -ms-linear-gradient(bottom, $start 47%, $middle 74%, $end 84%);
}

@mixin rounded-corners($radius: 6px ) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}


@mixin arrow-up($size: 8px, $color: black) {
  position: relative;
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	
	border-bottom: $size solid $color;
}

@mixin transition($element, $speed: 0.5s) {
       -webkit-transition: $element linear $speed;
     -moz-transition: $element linear $speed;
       -o-transition: $element linear $speed;
          transition: $element linear $speed;
}
