@import "global_styling";

body {

  background-color: grey;

}

header {

  height: 10%;


}

#partial {
 // position: relative;
 // left: 12%;
 // width: 83%;
  
  // to keep the layout whatever happens inside the partial
  //box-sizing: border-box;
  
  padding: 5px 0px 5px 5px;
  
  margin-right: -8px;
  
  //border: solid 1px;
  //background-color: grey; 
  @include rounded-corners(6px);

}


#sidebar {
  //position: relative;
  //left: 0;
 // float: left;
  //width: 11%;
  //margin-left: 5px;
  background-color: none; 
  text-align: center;
  //font-size: 11px;
  i { 
   // font-size: 200%;
  }   
  a, a:visited, a:link {
    color: black;
    
    &:hover {
    color: blue;
     text-decoration:none;
  }
  

  }

  background-color: grey; 
  @include rounded-corners(6px);

}

.map {
  height: 400px;
  width: 700px;
}

#markers {
 //position:absolute;
 //top:140px;
 //left:71%;
//width:200px;
// height:110px;
}



.drag {
 //position: absolute;
 width: 32px;
 height: 32px;
 //margin: auto;
 
}

.dialog-box {
 position: absolute;
 padding: 10px;
 @include rounded-corners(6px);
 background-color: #fff;
 border: solid 2px;
 box-sizing: border-box;
}


#fileupload {
  
  text-align: center;
  
}

  
 /* #hospital-location {
    background-image: url('/images/hospital.png');
    background-repeat: no-repeat;
  }
  
  #baby-location {
    background-image: url('/images/stroller.png');
    background-repeat: no-repeat;
  }
  
  
  #shop-location{
    background-image: url('/images/shopping.png');
    background-repeat: no-repeat;
  }
  
  #clothing-location{
     background-image: url('/images/clothing.png');
     background-repeat: no-repeat;
  }
  
  #support-group-location{
     background-image: url('/images/groups.png');
     background-repeat: no-repeat;
  }
  #official-location{
     background-image: url('/images/official.png');
     background-repeat: no-repeat;
  }
  
  #event-location {
  
  }*/
  
#infoWindow {
 overflow: auto;
 max-width: 400px;
 min-width: 250px;
 padding: 0;
 
 .alert {
    position: absolute;
  }
}
