@import "global_styling";

body {

  background-color: grey;

}

header {

  height: 10%;


}

#partial {
 // position: relative;
 // left: 12%;
 // width: 83%;
  
  // to keep the layout whatever happens inside the partial
  //box-sizing: border-box;
  
  padding: 5px 0px 5px 5px;
  
  margin-right: -8px;
  
  //border: solid 1px;
  //background-color: grey; 
  @include rounded-corners(6px);

}


#sidebar {
  //position: relative;
  //left: 0;
 // float: left;
  //width: 11%;
  //margin-left: 5px;
  background-color: none; 
  text-align: center;
  //font-size: 11px;
  i { 
   // font-size: 200%;
  }   
  a, a:visited, a:link {
    color: black;
    
    &:hover {
    color: blue;
     text-decoration:none;
  }
  

  }

 // background-color: grey; 
  @include rounded-corners(6px);

}

.map {
  height: 400px;
  width: 700px;
}

#markers {
 //position:absolute;
 //top:140px;
 //left:71%;
//width:200px;
// height:110px;
}



.drag {
 //position: absolute;
 width: 32px;
 height: 32px;
 //margin: auto;
 
}

.dialog-box {
 position: absolute;
 padding: 10px;
 @include rounded-corners(6px);
 background-color: #fff;
 border: solid 2px;
 box-sizing: border-box;
}


#fileupload {
  
  text-align: center;
  
}


  
#infoWindow {
 overflow: auto;
 max-width: 400px;
 min-width: 250px;
 padding: 0;
 
 .alert {
    position: absolute;
  }
}

.autocomplete {

  display: block;
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid;
  box-sizing: border-box;
       
  li {
    display: block;
    width: inherit;
    padding: 4px 0;
    margin: 0;
    
    &.selected {
      color: white;
      background-color: black;   
    }
    
    img {
      padding: 2px;
    }
    
    &:hover {
      color: white;
      background-color: black;   
    }
  }
  

}

.editable {
  border: 1px solid grey;
}

#new-discussion {
   width: 30%;
  
  .editable {
     min-height: 80px;
   }
   
}

.comment {
  margin-left: 10%;

}
   
  .content { 
   

   

   
  }
  
  .footer {
  
  
  }

div.menu { 
  
  li {
  display: inline-block;
  
  padding: 10px;
  
  color: black;
  
  &.selected {
    font-weight: 700;
    background-color: black;
    color: black;
  
  }
  
  }

}
a.selected {


}

a.share {
  font-weight: 700;
  background-color: black;

}
a.question {
  font-weight: 700;
  background-color: black;

}

#discussions {
  overflow: auto;

}

