@import "global_styling";

body {

  background-color: grey;

}

header.menu {

 
  height: 10%;

}

#main {
  margin-top: 20px;
  //padding-top: 40px;
}

header {
  
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  /* height: 200px;*/
  background-color: #B3DFF2;

}

#banner {
  margin: auto;
  width:  806px;
  height: 200px;
  background-image: url('../images/banner-h200.png');
  background-repeat: no-repeat;
  
  &.decale {
    margin-top: 40px;
    
  }
}

#menubar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
  background: #fff;
  //margin: auto;
  text-align: center;
  font-size: 18px;
  padding: 0;
  border: 1px solid;
  vertical-align: middle;

   // some css to make the icon look as if it is part of the input
  
  span.add-on {
    background: inherit;
    border-right: none;
    
     -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
          
          
    &.focus {
      background: inherit;
      border-right: none;
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9;
      }
    }
    input  {
      border-left: none;
      
      &:focus {
      // remove the standard bootstrap shadows.
        -webkit-box-shadow: none;
	      -moz-box-shadow: none;
	       box-shadow: none;
      }
      
     }
  
  ul {
    display: block;
    padding: 0;
    margin-top: 5px;
   
       
  }
  li {
     display: inline-block;
     color: black;
     padding: 0 10px;
     margin: 0;
     
     div {
       margin: 0;
       padding: 0;
     }
     
     a, a:visited, a:link {
       padding: 0;
       margin: 0;
       color: black;
       
        &:hover {
          text-decoration:none;
          color: blue;
        }
       }
     }

}

#tagline {
  display: block;
  text-align: center;
  /*background: black;*/
  color: white;
  padding: 10px;

}


#partial {
 // position: relative;
 // left: 12%;
 // width: 83%;
  
  // to keep the layout whatever happens inside the partial
  //box-sizing: border-box;
  
  padding: 5px 0px 5px 5px;
  
  margin-right: -8px;
  
  //border: solid 1px;
  //background-color: grey; 
  @include rounded-corners(6px);

}


#sidebar {
  //position: relative;
  //left: 0;
 // float: left;
  //width: 11%;
  //margin-left: 5px;
  background-color: none; 
  text-align: center;
  //font-size: 11px;
  i { 
   // font-size: 200%;
  }   
  a, a:visited, a:link {
    color: black;
    
    &:hover {
    color: blue;
     text-decoration:none;
  }
  

  }

 // background-color: grey; 
  @include rounded-corners(6px);

}



.dialog-box {
 position: absolute;
 padding: 10px;
 @include rounded-corners(6px);
 background-color: #fff;
 border: solid 2px;
 box-sizing: border-box;
}


#fileupload {
  
  text-align: center;
  
}


  
#infoWindow {
 overflow: auto;
 max-width: 400px;
 min-width: 250px;
 padding: 0;
 
 .alert {
    position: absolute;
  }
}

.autocomplete {

  display: block;
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid;
  box-sizing: border-box;
       
  li {
    display: block;
    width: inherit;
    padding: 4px 0;
    margin: 0;
    
    &.selected {
      color: white;
      background-color: black;   
    }
    
    img {
      padding: 2px;
    }
    
    &:hover {
      color: white;
      background-color: black;   
    }
  }
  

}

div.editable {
  border: 1px solid grey;
  min-height: 50px;
}

#new-discussion {
   width: 30%;
  
  .editable {
     min-height: 80px;
   }
   
}

.comment {
  margin-left: 10%;

}
   
  .content { 
   

   

   
  }
  
  .footer {
  
  
  }

div.menu { 
  
  li {
  display: inline-block;
  
  padding: 10px;
  
  color: black;
  
  &.selected {
    font-weight: 700;
    background-color: black;
    color: black;
  
  }
  
  }

}
a.selected {


}

a.share {
  font-weight: 700;
  background-color: black;

}
a.question {
  font-weight: 700;
  background-color: black;

}

#discussions {
  overflow: auto;

}

#input-picture {
  width: 100 px;
  height: 100px;
 // background: grey;
 // padding: 10px;
 // margin: 10px;
  //@include rounded-corners;
  
  //&:after {
 //   padding: 10px;
 //   content: "Drag & Drop picture or use button.";
 //   text-align: center;
 // }
}
.bar {
    height: 18px;
    background: green;
}
.album {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 1050;
  width: 80%;
  min-height: 80%;
 // margin-left: -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  
  li {
   text-align: left;
  }
  
  img { 
    width: 20%;
  }
}

div#albumViewer {
  //width: 600px;
  
  //overflow: auto;
  //width: 600px;

}

#sidebar article {
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

ul.nav {
  margin-bottom: 0;
  
}

#messages {



  
  
  article.message {
    background-color: #fff;
    border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  
    &:hover {
      background-color: blue;
      color: white;
      cursor: pointer;
    }
    
  }

  

}
    
   article.message.read {
      background-color: green;
      color: white;
    }
    
    article.message.selected {
      background-color: black;
      color: white;
    }
    
span.tag {
  position: relative;
  z-index: 0;
  cursor: pointer;
  border: 1px solid;
  padding: 5px;
  
  @include rounded-corners(6px);
  
  &:hover {
  background: black;
  color: white;
  //z-index: 0;
  z-index: 0;
  }
}

div.custom-popover {
  min-height: 50px;
  min-width: 15%;
  position: absolute;
  
  display: block;


  z-index: 10998;
 
  padding: 0;
  margin: 0;

  
  div.popover-inner {
   background-color: #fff;
   border: solid 2px red;
   box-sizing: border-box;
  }
  
  div.popover-header {
      padding: 5px;
  }
  
  a, a:visited, a:link, a:active, a:hover {
    float: right;
  
  
  }

}

.arrow-up {
  position: relative;
  
  //z-index: 10998;
  left: 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

