extends layout

block body
  include includes/header
  div#main(class='container')

    div(class='wrapper row')
      div(id="partial", class="span12")
        div#horizontalbanner
        //alert<type="alert.type", close="alert = null", ng-cloak, class="ng-cloak">{{alert.msg}}</alert>
        div#alert(ng-class="alert.type", ng-show="alert.msg.length > 0", ng-cloak, class="ng-cloak")
          button(class = "close", ng-click="alert.msg = ''")&times;
          {{alert.msg}}
        
        div(ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}")

    include includes/footer
  
  // loading external libraries
  script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDksAsTFgEvILZgCSUXLTGGfQf2zWdeAx0&sensor=false")
  script(src="http://vjs.zencdn.net/c/video.js")
  script(src='js/lib/moment.min.js')
  script(src='js/lib/underscore-min.js')
  
     
  // loading angular external modules
  script(src='js/lib/angular-b/ui-bootstrap-tpls-0.2.0.min.js')
  //script(src='js/lib/jquery.autocomplete.min.js')
  script(src='js/lib/angular-ui/angular-ui.min.js')
  script(src='js/lib/angular/angular-resource.min.js')
  script(src='js/lib/angular/angular-sanitize.min.js')
  script(src="js/lib/angular-underscore.js")
  script(src="js/lib/jquery.masonry.min.js")
  
  
  // loading the app
  script(src='js/app.js')
  
  // load services
  
  script(src='js/services/services.js')
  script(src='js/services/auth-service.js')
  script(src='js/services/geoservice.js')
  script(src='js/services/socket-service.js')
  
  // load controllers
  script(src='js/controllers/children.js')
  script(src='js/controllers/discussions.js')
  script(src='js/controllers/find.js')
  script(src='js/controllers/global.js')
  script(src='js/controllers/messages.js')
  script(src='js/controllers/questions.js')
  script(src='js/controllers/users.js')
  
  script(src='js/filters.js')
  script(src='js/directives.js')
