extends layout

block body
  include includes/header
  div(class='container')

    div(class='wrapper row')
      div(id="partial", class="span9")
        //alert<type="alert.type", close="alert = null", ng-cloak, class="ng-cloak">{{alert.msg}}</alert>
        div(ng-class="alert.type", ng-show="alert.msg.length > 0", ng-cloak, class="ng-cloak")
          button(class = "close", ng-click="alert.msg = ''")&times;
          {{alert.msg}}
        
        div(ng-view)
      
      div(id='sidebar', ng-show = "loggedIn", class='span3')
        include includes/menu  

    include includes/footer
  
  // loading external libraries
  script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDksAsTFgEvILZgCSUXLTGGfQf2zWdeAx0&sensor=false")
  script(src='js/lib/moment.min.js')
  script(src='js/lib/underscore-min.js')
  
     
  // loading angular external modules
  script(src='js/lib/angular-b/ui-bootstrap-tpls-0.2.0.min.js')
  //script(src='js/lib/jquery.autocomplete.min.js')
  script(src='js/lib/angular-ui/angular-ui.min.js')
  script(src='js/lib/angular/angular-resource.min.js')
  script(src='js/lib/angular/angular-sanitize.min.js')
  script(src="js/lib/angular-underscore.js")
  
  
  // loading the app
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/auth-service.js')
  script(src='js/geoservice.js')
  script(src='js/socket-service.js')
