!!!
html(ng-app="CareKids")
  head
    meta(charset='utf8')
    base(href='/')
    title Our Special Kids
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/animations.css')
    //link(rel='stylesheet', href='/css/vendors/angular-ui.min.css')
    link(rel='stylesheet', href='/css/vendors/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendors/bootstrap-responsive.min.css')
    link(rel="stylesheet", href="/css/vendors/font-awesome.min.css")
    link(rel="stylesheet", href="/css/vendors/jquery.fileupload-ui.css")
    link(href="http://vjs.zencdn.net/c/video-js.css", rel="stylesheet")
        
    // Loading some of the scripts in head to allow ng-cloak functionality. All other scripts loaded at the end.
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js')
    script(src='js/lib/jquery.fileupload.js') 
    script(src="js/lib/jquery.iframe-transport.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js')
    //script(src='js/lib/angular/angular.js')
    script(src="/socket.io/socket.io.js")
    
    <!--[if lte IE 8]>
    script
      // The ieshiv takes care of our ui.directives, bootstrap module directives and 
      // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
      // However, IF you have custom directives (yours or someone else's) then
      // enumerate the list of tags in window.myCustomTags
      window.myCustomTags = [ 'uploader']; // optional
    script(src="js/angular-ui-ieshiv.js")
    <![endif]-->
  body(ng-controller='AppCtrl')
    block body
