.view-enter-setup, .view-leave-setup {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }

.view-enter-setup {
  opacity: 0; }

.view-enter-setup.view-enter-start {
  opacity: 1; }

.view-leave-setup {
  position: absolute;
  right: 0;
  opacity: 1; }

.view-leave-setup.view-leave-start {
  opacity: 0; }
