body {
  background-color: grey; }

header {
  height: 10%; }

#partial {
  padding: 5px 0px 5px 5px;
  margin-right: -8px;
  border: solid 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

#sidebar {
  background-color: none;
  text-align: center;
  background-color: grey;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #sidebar a, #sidebar a:visited, #sidebar a:link {
    color: black; }
    #sidebar a:hover, #sidebar a:visited:hover, #sidebar a:link:hover {
      color: blue;
      text-decoration: none; }

.map {
  height: 400px; }
