@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin-ext);
body#main {
  background-color: #EDEDED;
  margin-top: 40px; }

header.menu {
  height: 10%; }

#main h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif; }

#main i.hover-effect:hover {
  -webkit-transition: background linear 0.5s;
  -moz-transition: background linear 0.5s;
  -o-transition: background linear 0.5s;
  transition: background linear 0.5s;
  -webkit-transition: border linear 0.5s;
  -moz-transition: border linear 0.5s;
  -o-transition: border linear 0.5s;
  transition: border linear 0.5s; }

#main a:hover {
  text-decoration: none;
  cursor: pointer; }

#main legend, label {
  font-family: "Roboto Condensed", sans-serif; }

[contenteditable="true"] {
  background: #fff;
  padding: 5px 10px;
  text-align: left;
  min-height: 50px;
  border: 1px solid #d9cba0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

[contenteditable="true"]:active,
[contenteditable="true"]:hover,
[contenteditable="true"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
  -webkit-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
  -moz-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
  box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6); }

#main textarea {
  border-color: #d9cba0; }
  #main textarea:hover, #main textarea:focus {
    border-color: rgba(217, 203, 160, 0.8);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    -webkit-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
    -moz-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
    box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6); }

#main input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-color: #d9cba0; }
  #main input[type="text"]:hover, #main input[type="text"]:focus,
  input[type="password"]:hover,
  input[type="password"]:focus,
  input[type="datetime"]:hover,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:hover,
  input[type="datetime-local"]:focus,
  input[type="date"]:hover,
  input[type="date"]:focus,
  input[type="month"]:hover,
  input[type="month"]:focus,
  input[type="time"]:hover,
  input[type="time"]:focus,
  input[type="week"]:hover,
  input[type="week"]:focus,
  input[type="number"]:hover,
  input[type="number"]:focus,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="url"]:hover,
  input[type="url"]:focus,
  input[type="search"]:hover,
  input[type="search"]:focus,
  input[type="tel"]:hover,
  input[type="tel"]:focus,
  input[type="color"]:hover,
  input[type="color"]:focus {
    border-color: rgba(217, 203, 160, 0.8);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
    -webkit-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
    -moz-box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6);
    box-shadow:  0 0 8px 0 rgba(217, 203, 160, 0.6); }

#main select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #d9cba0; }
#main select[multiple],
#main select[size] {
  height: auto; }
#main select:focus,
#main input[type="file"]:focus,
#main input[type="radio"]:focus,
#main input[type="checkbox"]:focus {
  outline: thin dotted #d9cba0;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

#main span.add-on {
  background-color: #d9cba0; }

#main .rounded {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #d9cba0; }

.edit-buttons {
  position: fixed;
  top: 100px;
  left: 8%; }

.page {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: -10px;
  padding: 20px 30px 80px 30px;
  -webkit-box-shadow:  -5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  -5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow:  -5px 5px 5px 0 rgba(0, 0, 0, 0.2); }
  .page h3 {
    overflow: hidden;
    padding-bottom: 10px;
    position: relative; }

#main button.btn.transparent {
  background: none;
  border: none; }
  #main button.btn.transparent:hover {
    background: none;
    border: none;
    color: #d9ae30;
    -webkit-transition: color linear 0.2s;
    -moz-transition: color linear 0.2s;
    -o-transition: color linear 0.2s;
    transition: color linear 0.2s; }

.highlight {
  color: #d92929; }

.voting {
  position: relative; }
  .voting a, .voting a:hover, .voting a:active, .voting a:link, .voting a:visited {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -30px;
    height: 15px; }
    .voting a icon-sort-down, .voting a:hover icon-sort-down, .voting a:active icon-sort-down, .voting a:link icon-sort-down, .voting a:visited icon-sort-down {
      height: -5px; }

header {
  width: 100%;
  /* height: 200px;*/
  background-color: #d9ae30; }

#banner {
  margin: auto;
  margin-top: -40px;
  width: 806px;
  height: 200px;
  background-image: url("../images/banner-h200.png");
  background-repeat: no-repeat; }
  #banner.decale {
    margin-top: 40px; }

#menubar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
  background: #569162;
  text-align: center;
  font-size: 18px;
  padding: 0;
  border: 1px solid #acaa40; }
  #menubar div.container {
    vertical-align: middle; }
  #menubar .search {
    color: black; }
  #menubar span.add-on {
    background: #fff;
    border-right: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s; }
    #menubar span.add-on.focus {
      background: #fff;
      border-right: none;
      border-width: 2px;
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9; }
  #menubar input {
    border-left: none; }
    #menubar input:focus {
      border-width: 2px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  #menubar ul {
    display: block;
    padding: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700; }
    #menubar ul.pull-right {
      margin-top: 10px; }
  #menubar li {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    margin: 0;
    width: inherit;
    cursor: pointer; }
    #menubar li img {
      margin-right: 9px; }
    #menubar li div {
      margin: 0;
      padding: 0; }
    #menubar li a, #menubar li a:visited, #menubar li a:link, #menubar li a:active, #menubar li a:hover {
      padding: 0;
      margin: 0;
      color: #fff;
      text-decoration: none; }
      #menubar li a:hover, #menubar li a:visited:hover, #menubar li a:link:hover, #menubar li a:active:hover, #menubar li a:hover:hover {
        text-decoration: none;
        color: #d92929; }
    #menubar li.mail {
      position: relative; }
      #menubar li.mail .count {
        font-weight: 700;
        top: -5px;
        left: 20px;
        position: absolute;
        font-size: 12px;
        display: block;
        color: #fff; }
  #menubar .search div.arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #569162;
    top: 5px; }
  #menubar .search ul {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 3px solid #569162;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #menubar .search ul li {
      display: block;
      width: inherit;
      padding: 5px;
      margin: 0;
      color: grey;
      text-align: left;
      font-size: 14px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; }
      #menubar .search ul li.selected {
        background-color: rgba(172, 170, 64, 0.4); }
      #menubar .search ul li img {
        padding: 2px; }
      #menubar .search ul li:hover {
        cursor: pointer; }

span.ui-match {
  color: black;
  font-weight: 800;
  background-color: none; }

#tagline {
  display: block;
  text-align: center;
  /*background: black;*/
  color: white;
  padding: 10px; }

#partial {
  position: relative;
  padding: 5px 0px 5px 5px;
  margin-right: -8px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

div#horizontalbanner {
  position: absolute;
  left: -110px;
  top: 50px;
  width: 100px;
  height: 700px;
  background-image: url("../images/horizonataldivider.png");
  background-repeat: no-repeat; }

#menubar .popup {
  position: relative; }
  #menubar .popup h6 {
    text-align: center; }
    #menubar .popup h6 a, #menubar .popup h6 a:hover, #menubar .popup h6 a:visited, #menubar .popup h6 a:active {
      color: #0088cc; }
      #menubar .popup h6 a:focus, #menubar .popup h6 a:hover, #menubar .popup h6 a:hover:focus, #menubar .popup h6 a:hover:hover, #menubar .popup h6 a:visited:focus, #menubar .popup h6 a:visited:hover, #menubar .popup h6 a:active:focus, #menubar .popup h6 a:active:hover {
        color: #005580; }
  #menubar .popup div.arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #569162;
    top: 8px; }
  #menubar .popup article {
    position: absolute;
    top: 40px;
    overflow: auto;
    max-height: 200px;
    width: 200px;
    z-index: 999;
    border: 3px solid #569162;
    background-color: white;
    color: grey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #menubar .popup article ul {
      padding: 0;
      margin: 0; }
      #menubar .popup article ul li {
        display: list-item;
        width: inherit;
        padding: 5px;
        margin: 0;
        font-size: 14px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        text-align: center; }
        #menubar .popup article ul li:hover, #menubar .popup article ul li:focus {
          background-color: #d9ae30;
          -webkit-transition: background-color linear 0.2s;
          -moz-transition: background-color linear 0.2s;
          -o-transition: background-color linear 0.2s;
          transition: background-color linear 0.2s; }
        #menubar .popup article ul li .tagPopover, #menubar .popup article ul li .childPopover {
          position: fixed;
          z-index: 12000; }
        #menubar .popup article ul li.selected {
          background-color: rgba(172, 170, 64, 0.4); }
        #menubar .popup article ul li a, #menubar .popup article ul li a:hover, #menubar .popup article ul li a:visited, #menubar .popup article ul li a:active {
          color: #0088cc; }
          #menubar .popup article ul li a:focus, #menubar .popup article ul li a:hover, #menubar .popup article ul li a:hover:focus, #menubar .popup article ul li a:hover:hover, #menubar .popup article ul li a:visited:focus, #menubar .popup article ul li a:visited:hover, #menubar .popup article ul li a:active:focus, #menubar .popup article ul li a:active:hover {
            color: #005580; }
    #menubar .popup article img {
      padding: 2px; }
    #menubar .popup article:hover {
      cursor: pointer; }

.dialog-box {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #fff;
  border: solid 2px;
  box-sizing: border-box; }

#fileupload {
  text-align: center; }

#infoWindow {
  overflow: auto;
  max-width: 400px;
  min-width: 250px;
  padding: 0; }
  #infoWindow .alert {
    position: absolute; }

.autocomplete {
  display: block;
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid;
  box-sizing: border-box; }
  .autocomplete li {
    display: block;
    width: inherit;
    padding: 4px 0;
    margin: 0;
    color: black; }
    .autocomplete li.selected {
      color: white;
      background-color: black; }
    .autocomplete li img {
      padding: 2px; }

img.circled {
  border: 2px solid #d9cba0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 2px; }

#new-discussion {
  width: 30%; }

.comment {
  margin-left: 10%; }

.footer {
  height: 50px; }

div.menu li {
  display: inline-block;
  padding: 10px;
  color: black; }
  div.menu li.selected {
    font-weight: 700;
    background-color: black;
    color: black; }

div.thumbnail {
  border: solid 1px #d9ae30; }
  div.thumbnail:hover, div.thumbnail:focus {
    -webkit-box-shadow: inset 0 0 2px 2px #d9ae30;
    -moz-box-shadow: inset 0 0 2px 2px #d9ae30;
    box-shadow: inset 0 0 2px 2px #d9ae30;
    -webkit-transition: box-shadow linear 0.5s;
    -moz-transition: box-shadow linear 0.5s;
    -o-transition: box-shadow linear 0.5s;
    transition: box-shadow linear 0.5s; }
  div.thumbnail.selected {
    border: solid 2px #569162;
    -webkit-box-shadow: inset 0 0 3px 3px #569162;
    -moz-box-shadow: inset 0 0 3px 3px #569162;
    box-shadow: inset 0 0 3px 3px #569162;
    -webkit-transition: box-shadow linear 0.5s;
    -moz-transition: box-shadow linear 0.5s;
    -o-transition: box-shadow linear 0.5s;
    transition: box-shadow linear 0.5s; }

/* a.share {
  font-weight: 700;
  background-color: black;

}
a.question {
  font-weight: 700;
  background-color: black;

}

#discussions {
  overflow: auto;

}*/
#input-bar {
  text-align: center; }
  #input-bar .input-form {
    display: block;
    margin: auto;
    width: 33%;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    -moz-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    box-shadow: inset 0px 0px 3px 3px #d9cba0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto;
    background-image: linear-gradient(bottom, #ebebeb 47%, whitesmoke 74%, white 84%);
    background-image: -o-linear-gradient(bottom, #ebebeb 47%, whitesmoke 74%, white 84%);
    background-image: -moz-linear-gradient(bottom, #ebebeb 47%, whitesmoke 74%, white 84%);
    background-image: -webkit-linear-gradient(bottom, #ebebeb 47%, whitesmoke 74%, white 84%);
    background-image: -ms-linear-gradient(bottom, #ebebeb 47%, whitesmoke 74%, white 84%); }
  #input-bar .btn-group {
    margin: 10px 0; }
    #input-bar .btn-group button:first-child {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-bottomleft: 6px;
      -webkit-border-top-left-radius: 6px;
      -webkit-border-bottom-left-radius: 6px; }
    #input-bar .btn-group button.rounded-right {
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      -moz-border-radius-topright: 6px;
      -moz-border-radius-bottomright: 6px;
      -webkit-border-top-right-radius: 6px;
      -webkit-border-bottom-right-radius: 6px; }
  #input-bar #new-question input {
    width: 90%; }
  #input-bar #new-question [contenteditable] {
    height: 30px;
    width: 90%;
    margin: auto; }
  #input-bar #new-question textarea {
    width: 90%; }

i.icon-quote-left {
  color: #569162; }

i.icon-film {
  color: #acaa40; }

i.icon-camera-retro {
  color: #d9ae30; }

#home .update {
  width: 290px;
  margin: 5px;
  .
    float: left;
  min-width: 30%;
  min-height: 40px;
  background-color: #fff; }
  #home .update .discussion {
    -webkit-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    -moz-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    box-shadow: inset 0px 0px 3px 3px #d9cba0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto; }
    #home .update .discussion i.icon-quote-left {
      color: #569162; }
    #home .update .discussion i.icon-film {
      color: #acaa40; }
    #home .update .discussion i.icon-camera-retro {
      color: #d9ae30; }
    #home .update .discussion:hover {
      -webkit-transition: box-shadow linear 0.2s;
      -moz-transition: box-shadow linear 0.2s;
      -o-transition: box-shadow linear 0.2s;
      transition: box-shadow linear 0.2s;
      -webkit-box-shadow: inset 0px 0px 3px 3px #569162;
      -moz-box-shadow: inset 0px 0px 3px 3px #569162;
      box-shadow: inset 0px 0px 3px 3px #569162; }
      #home .update .discussion:hover.video {
        -webkit-box-shadow: inset 0px 0px 3px 3px #acaa40;
        -moz-box-shadow: inset 0px 0px 3px 3px #acaa40;
        box-shadow: inset 0px 0px 3px 3px #acaa40; }
      #home .update .discussion:hover.pictures {
        -webkit-box-shadow: inset 0px 0px 3px 3px #d9ae30;
        -moz-box-shadow: inset 0px 0px 3px 3px #d9ae30;
        box-shadow: inset 0px 0px 3px 3px #d9ae30; }
  #home .update .question {
    -webkit-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    -moz-box-shadow: inset 0px 0px 3px 3px #d9cba0;
    box-shadow: inset 0px 0px 3px 3px #d9cba0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto; }
    #home .update .question i.icon-question-sign {
      color: #e15454; }
    #home .update .question:hover {
      -webkit-transition: box-shadow linear 0.2s;
      -moz-transition: box-shadow linear 0.2s;
      -o-transition: box-shadow linear 0.2s;
      transition: box-shadow linear 0.2s;
      -webkit-box-shadow: inset 0px 0px 3px 3px #e15454;
      -moz-box-shadow: inset 0px 0px 3px 3px #e15454;
      box-shadow: inset 0px 0px 3px 3px #e15454; }
  #home .update .sideinfo {
    width: 35%; }
  #home .update .content {
    float: left;
    width: 100%;
    height: 100%; }
  #home .update .about {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 2px; }
  #home .update div.footer {
    height: auto; }

div.separator {
  border-bottom: 2px solid #c8c8c8;
  padding-bottom: 15px;
  margin-bottom: 15px; }

#new-question div.custom-popover {
  padding: 5px;
  background-color: #fff;
  border: 2px solid #d92929;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: inset 0 0 4px 4px rgba(217, 41, 41, 0.6);
  -moz-box-shadow: inset 0 0 4px 4px rgba(217, 41, 41, 0.6);
  box-shadow: inset 0 0 4px 4px rgba(217, 41, 41, 0.6);
  width: 100%;
  border-size: border-box; }
  #new-question div.custom-popover input, #new-question div.custom-popover input#autocomplete, #new-question div.custom-popover textarea {
    width: 100%; }

.img-profile {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: solid 1px #d9cba0; }
  .img-profile:hover {
    -webkit-box-shadow:  0 0 3px 5px #d9cba0;
    -moz-box-shadow:  0 0 3px 5px #d9cba0;
    box-shadow:  0 0 3px 5px #d9cba0;
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.2s;
    -o-transition: box-shadow linear 0.2s;
    transition: box-shadow linear 0.2s; }

#child btn.transparent {
  position: absolute;
  top: 5px; }

#user input[type="text"] {
  border-color: none; }

video {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.discussion {
  margin: 10px 0; }

.discussion {
  padding: 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .discussion .header {
    padding: 0;
    border-bottom: 2px solid #d9cba0; }
  .discussion .column-left {
    border-right: 2px solid #d9cba0; }

.contoureven {
  border-top: 4px solid #569162;
  border-bottom: 4px solid #569162; }

.kidslist li {
  margin-left: 8px; }
  .kidslist li img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #d9cba0; }
    .kidslist li img a {
      font-weight: 700; }

.bar {
  height: 18px;
  background: green; }

.album {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 1050;
  width: 80%;
  min-height: 80%;
  background-color: #fff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .album li {
    text-align: left; }
  .album img {
    width: 20%; }

#main #find select {
  width: 159px; }

#find input {
  width: 250px; }

.tile {
  width: 30%;
  float: left;
  margin: 5px;
  -webkit-box-shadow: inset 0px 0px 3px 3px #d9cba0;
  -moz-box-shadow: inset 0px 0px 3px 3px #d9cba0;
  box-shadow: inset 0px 0px 3px 3px #d9cba0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: auto; }
  .tile img.img-profile {
    float: left;
    padding: 2px;
    margin-right: 5px; }
  .tile:hover {
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.2s;
    -o-transition: box-shadow linear 0.2s;
    transition: box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0px 0px 3px 3px #d92929;
    -moz-box-shadow: inset 0px 0px 3px 3px #d92929;
    box-shadow: inset 0px 0px 3px 3px #d92929; }
  .tile div.separator {
    margin-bottom: 2px;
    padding-top: 2px; }

.rightcolumn {
  float: right;
  width: 50%; }

.leftcolumn {
  width: 50%; }

#messages article.message {
  background-color: #fff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  #messages article.message:hover {
    background-color: blue;
    color: white;
    cursor: pointer; }
#messages article.message.read {
  background-color: green;
  color: white; }
#messages article.message.selected {
  background-color: black;
  color: white; }

.taglist {
  list-style: none;
  margin: 0;
  padding: 0; }
  .taglist li {
    display: inline-block;
    padding: 2px; }

.tag {
  display: inline;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  background-color: #c0dac5;
  width: auto;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .tag img {
    padding: 2px;
    height: 15px; }
  .tag:hover, .tag:focus {
    background: #569162; }
    .tag:hover a, .tag:hover a:visited, .tag:hover a:hover, .tag:hover a:link, .tag:focus a, .tag:focus a:visited, .tag:focus a:hover, .tag:focus a:link {
      color: #fff; }
  .tag a, .tag a:visited, .tag a:hover, .tag a:link {
    font-weight: 700;
    color: #569162; }

.tagPopover {
  height: 40px;
  width: 100px;
  position: absolute;
  display: block;
  border: 3px solid #569162;
  z-index: 1200;
  padding: 5px;
  margin: 0; }
  .tagPopover .popover-inner {
    background-color: #fff;
    border: solid 2px red;
    box-sizing: border-box; }
  .tagPopover .popover-header {
    padding: 5px; }
  .tagPopover a, .tagPopover a:visited, .tagPopover a:link, .tagPopover a:active, .tagPopover a:hover {
    float: right; }

.closed {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.closed:hover,
.closed:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40); }

button.closed {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.child {
  position: relative; }

.childPopover, #home .childPopover {
  position: absolute;
  z-index: 1200;
  width: 300px;
  padding: 5px; }
  .childPopover div.arrow-up, #home .childPopover div.arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #569162;
    position: absolute;
    left: 10px;
    top: 0; }
  .childPopover div.inner, #home .childPopover div.inner {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff;
    border: 3px solid #569162;
    min-height: 150px;
    padding: 10px;
    margin: 10px; }
  .childPopover div.header img, #home .childPopover div.header img {
    float: left;
    padding: 1px;
    margin: 5px;
    border: 2px solid #d9ae30;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; }

.userPopover, #home .userPopover {
  position: absolute;
  z-index: 1200;
  background: #fff;
  width: 300px;
  min-height: 40px;
  border: 3px solid #569162; }
