body {
  background-color: grey; }

header.menu {
  height: 10%; }

header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  /* height: 200px;*/
  background-color: #B3DFF2; }

#banner {
  margin: auto;
  width: 806px;
  height: 200px;
  background-image: url("../images/banner-h200.png");
  background-repeat: no-repeat; }

#tagline {
  display: block;
  text-align: center;
  /*background: black;*/
  color: white;
  padding: 10px; }

#partial {
  padding: 5px 0px 5px 5px;
  margin-right: -8px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

#sidebar {
  background-color: none;
  text-align: center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #sidebar a, #sidebar a:visited, #sidebar a:link {
    color: black; }
    #sidebar a:hover, #sidebar a:visited:hover, #sidebar a:link:hover {
      color: blue;
      text-decoration: none; }

.map {
  height: 400px;
  width: 700px; }

.drag {
  width: 32px;
  height: 32px; }

.dialog-box {
  position: absolute;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #fff;
  border: solid 2px;
  box-sizing: border-box; }

#fileupload {
  text-align: center; }

#infoWindow {
  overflow: auto;
  max-width: 400px;
  min-width: 250px;
  padding: 0; }
  #infoWindow .alert {
    position: absolute; }

.autocomplete {
  display: block;
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid;
  box-sizing: border-box; }
  .autocomplete li {
    display: block;
    width: inherit;
    padding: 4px 0;
    margin: 0; }
    .autocomplete li.selected {
      color: white;
      background-color: black; }
    .autocomplete li img {
      padding: 2px; }
    .autocomplete li:hover {
      color: white;
      background-color: black; }

.editable {
  border: 1px solid grey;
  min-height: 20px; }

#new-discussion {
  width: 30%; }
  #new-discussion .editable {
    min-height: 80px; }

.comment {
  margin-left: 10%; }

div.menu li {
  display: inline-block;
  padding: 10px;
  color: black; }
  div.menu li.selected {
    font-weight: 700;
    background-color: black;
    color: black; }

a.share {
  font-weight: 700;
  background-color: black; }

a.question {
  font-weight: 700;
  background-color: black; }

#discussions {
  overflow: auto; }

#input-picture {
  width: 100 px;
  height: 100px; }

.bar {
  height: 18px;
  background: green; }
