div(ng-controller = "AlbumsCtrl")
  h3 Browse through your albums
        
  ul.thumbnails
    li
      button(type='button', ng-click='decrement(page)', ng-show = "page > 1", class='btn btn-primary') < 
    li(ng-repeat = "album in albums|paginate:page ", ng-class = "{{ isSelected($index) }}", ng-click = "selectAlbum($index)")
      div.thumbnail
        img(ng-src="{{ thumbnail(album) | picture  }}", alt="{{ thumbnail(album).title }}", ng-show = "thumbnail(album)")
        h3 {{ album.title }}
    li
      button(type='button', ng-click='imcrement(page)', ng-show = "(albums.length - page*3) > 0 ", class='btn btn-primary') >
      
  ul.thumbnails.photos
    li
      | {{ albums }}
    li(ng-repeat = "item in album.content ")
      div.thumbnail
        img(ng-src="{{ item | picture  }}", alt="{{ item.title }}", ng-show = " item.type == 'picture' ")
        h3 {{ item.title }}
  
  button(type='button', ng-click='close()', class='btn') Close
  

