div.modal-header
  h3 Choose an album or create a new one
  
div(ng-class="modalAlert.type", ng-show="modalAlert.msg.length > 0", ng-cloak, class="ng-cloak")
  button(class = "close", ng-click="modalAlert.msg = ''")&times;
  {{modalAlert.msg}}
 
div.modal-body
  ul.thumbnails(ng-show = "albums")
    li.span2(ng-repeat = "album in albums")
      div.thumbnail( ng-class = "{selected: isSelected($index)}")
        a(ng-click = "selectAlbum($index)")
          img(ng-src="{{ thumbnail(album) | thumbAlbumPicture  }}", alt="{{ thumbnail(album).title }}")
        h5 {{ album.title }}
    
        
  
  p(ng-hide = "albums")
    | You have not created any album yet. Click on on the create new button to get started!
  div(ng-show = 'selectedAlbum  == "createNew"', style = "display: none;")
    label Enter a name for the new album and press confirm
    input.span3(type = 'text',  placeholder='Give the album a title', ng-model = "newAlbumTitle", ng-animate="{enter: 'enter-animation', leave: 'leave-animation', move: 'move-animation', show: 'show-animation', hide: 'hide-animation'}")  
  br
  button(type='button', ng-click='selectedAlbum  = "createNew"', class='btn btn-primary') Create
  
          

  
div(class="modal-footer")
  button(type='button', ng-click='confirmAlbum()', class='btn btn-primary') Confirm
  button(type='button', ng-click='close()', class='btn') Cancel
  
