div.dialog-box(ui-animate)
  p
    | It seems that you have not filled in your location yet.
    | Would you like us to look it up for you?
  button.btn(ng-click = "action()") Yes, please
  button.btn(ng-click = "close()") No, thanks

